/* font-family: "Libre Franklin", sans-serif;
  font-family: "Lobster", cursive; */

p {
  font: arial;
  font-size: 20px;
  text-align: top;
}

h1 {
  color: #e5b5c1;
  margin: 10;
  text-align: center;
  font-family: "lobster";
  font-size: 54px;
}

li {
  color: #e5b5c1;
  text-align: justify;
  font-size: 20px;
  top: 50px;
}

.fixed {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 5;
  left: 5;
  width: 300px;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 4%;
}

body {
  margin: 10%;
  background-image: url(./images/8d5fc63944253d66794a7f0dab5b59fa.jpg);
  background-repeat: cover;
}

.centerflex {
  display: flex;
  justify-content: center;
}

canvas {
  z-index: 0;
  border: 4px solid white;
  max-width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  left: 20%;
}

.play-again-div {
  z-index: 2;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.bottomcenter {
  display: flex;
  margin-top: 320px;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

#easy {
  color: black;
  text-align: center;
  margin-left: 50px;
}

#list > li {
  list-style: none;
  color: black;
  text-align: center;
  font-size: 20px;
}

#aqua {
  color: #00c1cb;
  stroke: #00c1cb;
}

#darkBlue {
  color: #2b4669;
}

.underline {
  text-decoration: underline;
}
.game-button-start {
  background-color: #E6B9CD;
  position: relative;
  top: 300px;
  left: 50%;
  border-radius: 10%;
  z-index: 2;
  border-bottom: 5px;
  width: 110px;
  height: 30px;
}

.game-button{
  background-color: #E6B9CD;
  position: relative;
  top: 300px;
  left: 50%;
  border-radius: 10%;
  z-index: 2;
  border-bottom: 5px;
  width: 100px;
  height: 40px;
}

