body{
  margin: 10%;
  background-color: black;
  background-image: url(./images/8d5fc63944253d66794a7f0dab5b59fa.jpg);
  background-repeat: cover; 
}

.centerflex {
  display: flex;
  justify-content: center;
  position: relative; /* 2 */
}

canvas {
  z-index: 0;
  border: 2px solid black;
  max-width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7)
}

.play-again-div {
  z-index: 2;
  margin-top: 20%;
  justify-content: center;
  align-items: center;
}
